*.o
._*
src/OrigImpl/runproject
src/Impl/runproject
src/ParTridagCuda/test_tridag
src/OrigImpl/Debug.txt
src/Impl/Debug.txt
presentation/presentation.pdf

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.bcf
*.run.xml

*.~lock*
*.*~
*.swp
*.vrb
